html {
  background-color: #f2f1ed;
  font-family: Georgia, serif;
  line-height: 1.5;
}

h2 {
  text-transform: uppercase;
  text-align: justify;
  font-family: "Patua One", cursive;
  color: #5d8432;
}

h3 {
  text-transform: uppercase;
  text-align: left;
  font-family: "Patua One", cursive;
  color: #5d8432;
}

h4 {
  text-transform: uppercase;
  text-align: left;
  font-family: "Patua One", cursive;
  color: #5d8432;
}

figcaption {
  color: #5d8432;
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

nav {
  font-family: "Patua One", cursive;
  color: #793284;
  font-weight: bold;
  font-size: 1.125rem;
}

a:hover {
  text-decoration: none;
  color: #b42885;
}

ol {
  list-style-type: none;
}
